@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-image: linear-gradient(to right, transparentize(v.$primario, .1) 0%, transparentize(v.$primario, .1)100%), url(../../../../build/img/header_bg.jpg); //aplica una transparencia en todas las direcciones de manera uniforme 
    background-size: cover; //toma todo elespacio disponible
    background-position: center;
    padding: 3rem 0;
    position: relative; //para que la imagen se posiciona en torno al header

    @include m.tablet { 
        padding: 3rem 0 20rem 0;
    }

    &__barra {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include m.tablet { 
            flex-direction: row;
            justify-content: space-between;
        }
    }
    &__logo {
        width: 25rem;
    }

    &__contenido {

        @include m.tablet { 
            margin-top: 10rem;
            max-width: 50rem; //hace que el contenido ocupe solo el 50 % del contenedor
        }
    }
    &__heading {
        color: v.$blanco;
        text-align: center;
        @include m.tablet { 
            text-align: left;
        }
    }
    &__texto {
        color: v.$blanco;
        display: none;
        @include m.tablet { 
            display: block;
        }
    }
    &__imagen {
        display: none;
        @include m.tablet { 
            display: block;
            position: absolute;
            right: 0;
            bottom: -5rem;
            max-width: 35rem;
            border-top-left-radius: 2rem; //aplica el border arriba a la izquierda
            border-bottom-left-radius: 5rem; //aplica el border abajo a la izquierdas
        }
        @include m.desktopXL { 
            max-width: 60rem; //hace que la imagen se vea mas grande
        }
    }
   
}
.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;

    @include m.tablet { 
        flex-direction: row;
        gap: 2rem;
        margin-top: 0;
    }

    &__link {
        color: v.$blanco;
        font-size: 1.8rem;
        margin-bottom: 2rem;

        &:last-of-type {
            margin-bottom: 0; //elimina el margin del ultimo hijo
        }
        @include m.tablet { 
            margin-bottom: 0;
        }
    }
}