@use 'base/variables' as v;
@use 'base/mixins' as m;

.propiedades {
    margin-top: 5rem;

    @include m.tablet { 
        margin-top: 10rem;
    }

    &__heading {
        @include m.heading;
    }
    &__grid {
        @include m.grid(1, 2rem);
        @include m.tablet { 
            @include m.grid(3, 2rem);
        }
    }
}
.propiedad {
    background-color: v.$blanco;

    &__imagen {
        aspect-ratio: 10 / 6; //crece 10px horizontales y 6px verticales, haciendo que el tamaño sea adaptable al tamaño de la pagina
        background-size: cover; //se muestra toda la imagen dentro del contenido disponible
        position: relative; //el padre siempre va hacer relative porque apartir de ahi se va a posicionar
    }

    @for $i from 1 through 6 {

        $imagen: '../../../../build/img/propiedad_' + $i + '.jpg';
        &:nth-child(#{$i}) &__imagen {
            background-image: linear-gradient(to bottom, transparentize(v.$negro, 1%) 0%, transparentize(v.$negro, .3%) 100%), url($imagen); //funciona parecido a un mixin que coloca las imagenes jpg de la 1 a la 6 evitando estar poniendo nth child, de esta manera evitamos escribir tanto codigo
        }
    }
    &__nombre {
        position: absolute; //el hijo siempre sera absoluto 
        left: 1rem;
        bottom: 1rem; //el texto se colocara abajo en la izquierda
        color: v.$blanco;
        font-size: 2.4rem;
    }

    &__contenido {
        padding: 2rem;
    }
    &__texto {
        margin-bottom: 0;
    }
    &__precio {
        font-size: 3rem;
        margin: 0;
    }
    &__enlace {
        @include m.boton(v.$primario, v.$blanco);
        display: block;
        text-transform: uppercase;
    }
}