@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimoniales-blog {
    margin-top: 5rem;

    @include m.desktop { 
        @include m.grid(3, 4rem);
    }
    &__blog {
        @include m.desktop { 
            grid-column: 2 / 4;
        }
    }
    &__heading {
        @include m.heading(true); // True hace que se le aplique el mixin porque si cumple con la condicion
    }
}

.testimonial {
    text-align: center;
    &__imagen {
        width: 20rem;
        margin: 0 auto;
    }

    &__contenido {
        background-color: v.$blanco;
        margin-top: -10rem;
        padding: 10rem 2rem 2rem 2rem;
    }
    &__nombre {
        font-size: 2.4rem;
        font-weight: 700;
    }
    &__texto {
        &::before {
            content: '';
            background-image: url(../../../../build/img/quote.svg);
            background-repeat: no-repeat;
            background-position: center;
            display: inline-block; //permite colocarlo en la misma linea del texto y darle medidas 
            width: 4rem;
            height: 4rem;
            margin-right: 1rem;
        }
    }
}
.entrada {
    background-color: v.$blanco;
    margin-bottom: 2rem;
    align-items: center;

    @include m.tablet { 
        @include m.grid(5, 2rem) //el grid del grid se divide en 5
    }

    &__imagen-contenedor {
        @include m.tablet { 
            grid-column: 1 / 3;  //la imagen se posiciona de la columna 1 a la 3
        }
    }
    &__imagen { //se define una altura para que object-fit pueda adadptar la imagen al espacio disponible
        height: 30rem; 
        object-fit: cover;
        width: 100%; //tpma todo el espacio disponible independientemente del tamaño del disposivivo
    }
    &__contenido {
        padding: 1rem;
        @include m.tablet { 
            grid-column: 3 / 6;
        }
    }
    &__meta {
        font-size: 1.4rem;
    }
    &__enlace{
        @include m.boton(v.$primario, v.$blanco);
        display: block;
        @include m.tablet { 
            display: inline-block; //hace que el boton sea mas pequeño y tome todo el espacio disponible
        }
    }
}